/* Primary Colors */
$boxSedansColor: hsl(31, 77%, 52%);
$boxSuvsColor: hsl(184, 100%, 22%);
$boxLuxuryColor: hsl(179, 100%, 13%);


body{
    background-color: hsl(0, 0%, 95%);
}

.container{
    width: 100vw;
    height: 90vh;
    margin: 3% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    width: 20%;
    height: 70%;
}

.box-sedans{
    background-color: $boxSedansColor;  
}
.box-suvs{
    background-color: $boxSuvsColor;
}
.box-luxury{
    background-color: $boxLuxuryColor;
}