/* Primary Colors */
$SedansColor: hsl(31, 77%, 52%);
$SuvsColor: hsl(184, 100%, 22%);
$LuxuryColor: hsl(179, 100%, 13%);

/* Background, Headings, Buttons color */
$SecondColor: hsl(0, 0%, 95%);

/* Paragraphs color */
$ParagraphColor: hsla(0, 0%, 100%, 0.75);

body {
    background-color: $SecondColor;
    font-size: 15px;
}

.container {
    width: 100%;
    height: 90vh;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 500px;
    padding-left: 50px;
}

.box-sedans {
    border-radius: 10px 0 0 10px;
    background-color: $SedansColor;
}

.box-suvs {
    background-color: $SuvsColor;
}

.box-luxury {
    border-radius: 0px 10px 10px 0px;
    background-color: $LuxuryColor;
}

.car-icon {
    margin-top: 20%;
}

.category-name {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    color: $SecondColor;
    text-transform: uppercase;
    margin-top: 10%;
}

.category-desc {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.8;
    color: $ParagraphColor;
    margin-top: 10%;
    padding-right: 15%;
}

.button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width: 135px;
    height: 42px;
    border: none;
    border-radius: 30px;
    margin-top: 30%;
}

.button:hover {
    color: $ParagraphColor;
    background-color: transparent;
    border: 2px solid white;
}

.learn-more-sedans {
    color: $SedansColor;
}

.learn-more-suvs {
    color: $SuvsColor;
}

.learn-more-luxury {
    color: $LuxuryColor;
}

@media (max-width: 1050px) {

    .container {
        height: 100%;
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .box {
        width: 45%;
        height: 100%;
    }

    .box-sedans {
        border-radius: 10px 10px 0 0;
    }

    .box-luxury {
        border-radius: 0 0 10px 10px;
    }

    .category-desc {
        padding-right: 30%;
    }


    .button {
        margin-bottom: 15%;
    }

}

@media (max-width: 480px) {

    .box {
        width: 75%;
    }

}